<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pippip-native-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
				<key>dateExpires</key>
				<string>8/15/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ChameleonFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Chatto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ChattoAdditions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DataCompression.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DeviceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FrostedSidebar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RKDropdownAlert.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA7730D3A560AED6304813EFCD5CDB31D692D8D</string>
						<key>dateExpires</key>
						<string>8/15/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Sheriff.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YSKMP8WLKB</string>
						<key>name</key>
						<string>Steve Brenneis</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YSKMP8WLKB.org.secomm.pippip</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YSKMP8WLKB</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>pippip-native-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>608ed00c-ee72-45b1-b229-19a8ed92acf8</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.secomm.pippip</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YSKMP8WLKB</string>
				<key>name</key>
				<string>Steve Brenneis</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
